*.tlog
*.exe
*.lastbuildstate
Debug/vc110.idb
Debug/vc110.pdb
*.pdb
*.log
*.ilk
Debug/bilerp.obj
bilerpCpp.sdf
bilerpCpp.opensdf
*.suo
*.suo
bilerpCpp.v11.suo
bilerpCpp.v11.suo
*.obj
bilerpCpp.v11.suo